<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Manager pathname="" />
    <Resource name="jdbc/cidaAuthDS" auth="Container" type="javax.sql.DataSource" username="postgres" password="postgres" driverClassName="org.postgresql.Driver" url="jdbc:postgresql://auth-database:5432/cida_auth" maxTotal="50" maxIdle="10" removeAbandonedOnBorrow="true" removeAbandonedOnMaintenance="true" removeAbandonedTimeout="60" logAbandoned="true" testOnBorrow="true" defaultAutoCommit="true" validationQuery="SELECT 1" accessToUnderlyingConnectionAllowed="true" jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer" poolPreparedStatements="true" timeBetweenEvictionRunsMillis="60000" maxOpenPreparedStatements="400" />
    <Environment name="development" override="true" type="java.lang.String" value="${cida_auth_development}" />
    <Environment name="auth.ldap.url" override="true" type="java.lang.String" value="${cida_auth_ldap_url}" />
    <Environment name="auth.ldap.domain" override="true" type="java.lang.String" value="${cida_auth_ldap_domain}" />
    <Environment name="auth.ldap.bind.user.prefix" override="true" type="java.lang.String" value="${cida_auth_ldap_bind_user_prefix}" />
    <Environment name="auth.ldap.bind.user.suffix" override="true" type="java.lang.String" value="${cida_auth_ldap_bind_user_suffix}" />
    <Environment name="auth.manager.password.algorithm" override="true" type="java.lang.String" value="${cida_auth_manager_password_algorithm}" />
    <Environment name="auth.manager.username" override="true" type="java.lang.String" value="${cida_auth_manager_username}" />
    <Environment name="auth.manager.password" override="true" type="java.lang.String" value="${cida_auth_manager_password}" />
    <Environment name="auth.http.basic" override="true" type="java.lang.String" value="${cida_auth_http_basic}" />
    <Environment name="auth.crowd.url" override="true" type="java.lang.String" value="${cida_auth_crowd_url}" />
</Context>
