<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Manager pathname="" />
    <Environment name="development" override="true" type="java.lang.String" value="${cida_auth_development}" />
    <Environment name="auth.manager.password.algorithm" override="true" type="java.lang.String" value="${cida_auth_manager_password_algorithm}" />
    <Environment name="auth.manager.username" override="true" type="java.lang.String" value="${cida_auth_manager_username}" />
    <Environment name="auth.manager.password" override="true" type="java.lang.String" value="${cida_auth_manager_password}" />
    <Environment name="auth.manager.core.rest.url" override="true" type="java.lang.String" value="${cida_auth_manager_core_rest_url}" />
    <Environment name="auth.manager.core.host" override="true" type="java.lang.String" value="${cida_auth_manager_core_host}" />
    <Environment name="auth.manager.core.port" override="true" type="java.lang.String" value="${cida_auth_manager_core_port}" />
    <Environment name="auth.manager.core.scheme" override="true" type="java.lang.String" value="${cida_auth_manager_core_scheme}" />
</Context>
